* {
  font-family: "Encode Sans", sans-serif;
}

html {
  font-size: 18px;
  color: #333;
}

.registration-table {
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.registration-table td {
  padding: 8px 20px;
}

.registration-table input {
  border: 2px solid #007bff;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  color: #333;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 20%;
  padding: 1.5em;
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 20px;
  margin: 1em;
  min-width: 250px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  border-radius: 20px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ff3333;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.product-table th {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  padding: 12px 20px;
  border-bottom: 2px solid #007bff;
}

.product-table td {
  padding: 12px 20px;
  border-bottom: 1px solid #007bff;
}

.product-table img {
  height: 80px;
  width: auto;
  border-radius: 20px;
}
